/* 
    Created on : 14/07/2016, 22:40:41
    Author     : André
*/
$fColor:#64849c;
$wide:100%;
/*Gerais*/
body{
    margin:0;
	font-family:'arial';
	color:$fColor;
	background-color:#ecf0f5;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
/*Fim Gerais*/

.top{
    width: $wide;
	background-color:#fff;
    img{
        padding: 20px;
    }
    .titulo{
        font-size:22px;
		padding: 22px;
    }
}

